<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.tag_cloud_enabled == true %}
    <li>
      <a href="{{ 'tags' | relative_url }}" title="Tags">
        <!-- <i class="fas fa-tags fa-sm" aria-hidden="true"></i> -->
        <i class="fas fa-hashtag fa-sm"></i>
      </a>
    </li>
    {% endif %}
    {% if site.project_enabled == true %}
      <li>
        <a href="{{ 'projects' | relative_url }}" title="Projects">
          <!-- <i class="fas fa-sticky-note fa-sm"></i> -->
          <i class="fas fa-paperclip fa-sm"></i>
        </a>
      </li>
    {% endif %}
    {% if site.timeline_enabled == true %}
      <li>
        <a href="{{ 'timeline' | relative_url }}" title="Timeline">
          <!-- <i class="fas fa-user-circle fa-sm"></i> -->
          <i class="far fa-clock fa-sm"></i>
          <!-- <i class="fas fa-quote-left fa-sm"></i> -->
          <!-- <i class="fas fa-glasses"></i> -->
        </a>
      </li>
    {% endif %}
    {% if site.research_enabled == true %}
    <li>
      <a href="{{ 'research' | relative_url }}" title="Research">
        <!-- <i class="fas fa-quote-left fa-sm"></i> -->
        <i class="far fa-lightbulb fa-sm"></i>
      </a>
    </li>
  {% endif %}
  {% if site.art_enabled == true %}
  <li>
    <a href="{{ 'artworks' | relative_url }}" title="Artworks">
      <!-- <i class="fas fa-user-circle fa-sm"></i> -->
      <i class="fas fa-palette fa-sm"></i>
      <!-- <i class="fas fa-quote-left fa-sm"></i> -->
      <!-- <i class="fas fa-glasses"></i> -->
    </a>
  </li>
{% endif %}
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          <!-- <i class="fas fa-user-circle fa-sm"></i> -->
          <i class="far fa-comment-dots fa-sm"></i>
          <!-- <i class="fas fa-quote-left fa-sm"></i> -->
          <!-- <i class="fas fa-glasses"></i> -->
        </a>
      </li>
    {% endif %}
    {% if site.theme_toggle == true %}
    <li>
      <a onclick="toggle()" title="Toggle Lights">
        <!-- <i class="fas fa-adjust fa-sm"></i> -->
        <i class="far fa-lightbulb fa-sm"></i>
        <!-- <i class="fas fa-toggle-on fa-sm"></i> -->
      </a>
    </li>
  {% endif %}
  </ul>
</nav>

{% if site.tag_nav_enabled %}
  <ul class="header-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% if forloop.index > 10 %}
        <li>...</li>
        <li><a href="/tags">Show all</a></li>
        {% break %}
      {% endif %}
        <li><a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
